table{
		  text-align: center;
      color: white;
  		width: 35%;
  		font-size: 6em;
      margin-left:auto; 
      margin-right:auto;
      width: 400px;
      height: 220px;
}

body{  
       background-image: url("finalbg.png");
       background-attachment: fixed;
       background-position: center; 
       background-repeat: no-repeat;
}

td{
  //background-color:  #B404AE;
	font-size: .95em;x
	border: 1px solid #ddd;
 	

}

th{
	  //background-color: #8A0829;
	  padding: .625em;
  	text-align: center;
  	padding: .35em;
  	letter-spacing: .1em;
  	text-transform: uppercase;
}
